.vertical_center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

page {
    background-color: #ECECEC;
}

.card-head,
.switch-bar,
.card-body-info,.white-page {
    background-color: white;
}

/*头部信息*/
.card-head {
    padding-top: 40rpx;
    padding-bottom: 20rpx;
    padding-left: 30rpx;
    padding-right: 30rpx;

    box-sizing: border-box;
}

.card-head>.upper-head {
    display: flex;
}

.game-briefInfo {
    font-size: 9pt;
    color: hsla(0, 0%, 44%, 1);
}

.profile-photo {
    width: 160rpx;
    height: 160rpx;
    border-radius: 20rpx;
}

.title {
    display: block;
    font-size: 13pt;
}
.info-box{
    padding-left:40rpx;
}
.info-text{
    color: #9D9D9D;
}
.subtitle {
    width: 90rpx;
    font-size: 7pt;
    color: rgba(0, 0, 0, 0.5);
}

.card-head>view {
    margin-left: 30rpx;
}


.missing-box {
    margin-top: 25%;
    text-align: center;
}

.signal {
    width: 25vw;
    height: 25vw;
}

.missing-box>view {
    margin-top: 20rpx;
    color: rgba(0, 0, 0, 0.6);
}
.game-downInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 10rpx;
}

.game-downInfo>.item-tag {
    padding: 5rpx 20rpx;
    font-size: 8pt;
    color: hsla(0, 0%, 44%, 1);
    background-color: hsla(45, 100%, 94%, 1);
    border-radius: 20rpx;
    margin-right: 30rpx;
}

/* 单个卡牌的页面选择区 */
.switch-bar {
    display: flex;
    justify-content: space-around;
    margin-top: 10rpx;

}

.option {
    height: 70rpx;
    line-height: 70rpx;
    font-size: 11pt;
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    box-sizing: border-box;
}

.active {
    border-bottom: 2px solid #FF8A47;
}

/*标签栏body具体信息*/
.card-body {
    min-height: 71vh;
}

.card-body-info {
    /* margin-top: 10rpx; */
    padding: 20rpx 30rpx;
}
.inside{
    white-space:pre-wrap;
}
video {
    width: 100%;
}
.body-info-title{
font-weight: bold; margin-bottom:20rpx;
}
/*404页面*/
.missing-box {
    margin-top: 25%;
    text-align: center;
}

.signal {
    width: 25vw;
    height: 25vw;
}

.missing-box>view {
    margin-top: 20rpx;
    color: rgba(0, 0, 0, 0.6);
}

.reload-btn {
    background:#FEFFE8;
    margin-top: 40rpx !important;
    margin: 0 auto;
    width: 180rpx;
    padding: 20rpx 20rpx;
    border-radius: 20rpx;
    border: 1px solid rgba(255, 255, 255, 0.7);
}